<nav class="navbar bg-body-tertiary bg-light ">
    <h1 class="navbar-text text-black-50"> Movie watch list</h1>
  </nav>
    <ul class="list-group">
      <%@movies.each do |movie|%>
      <li class="list-group-item ">
        <div class="fw-bold"><%= link_to "#{movie['title']}", "movies/#{movie['id']}"%></div>
        <div class=""> <%= movie['overview']%></div>
        <div class=""> <%= movie['rating']%></div>
      </li>
      <% end %>
    </ul>

    <%= link_to 'Create an movie brother', 'movies/new' %>
